*{
    max-width: 100%!important;
	transition: all .3s;
}
body {
    background-color: #53537b!important;
}


/* ----------------------------------------------------------------navigation--------------------------------------------------------------------------------- */

header .navbar {
	background-color: rgb(122, 122, 122) !important;
  }
  header .navbar .container-fluid .navbar-brand {
	color: white;
  }
  header .navbar .container-fluid .collapse ul {
	column-gap: 30px;
  }
  header .navbar .container-fluid .collapse ul li a {
	color: #ffffff;
	font-size: 18px;
  }
  header .navbar .container-fluid .collapse ul li a:hover {
	background-color: rgba(0, 0, 0, 0.35);
  }
  

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px!important;
}
.JC_END{
    width: 100% !important;
    justify-content: end !important;
    display: flex;
}
.forCenter{
    margin: 0 auto;
    width: fit-content;
}

/* -------------------------------------------------------mobile navigation--------------------------------------------------------- */

main {
	width: 100vh;
	height: 100vh;
}
.text{
	width: 100%;
    text-align: center;
    color: #fbfbfb;
    margin-top: 26px;
    display: none;

}
#active{
    color: white;
	background-color: #53537b;
}



/* ----------------------------------------------------------------filter--------------------------------------------------------------------------------- */
.filter{
	display: flex;
	justify-content: center;
}
.filter-btn {
	transition: all .3s;
	margin: 21px 5px 5px 5px;
	border: none;
	border-radius: 6px;
	padding: 5px 10px;
	color: rgb(55, 55, 55);
}
.active{
	transition: all .3s;
	background-color: rgb(55, 55, 55);
	color: white;
}
/* -----------------------------------------------------------------course cards-------------------------------------------------------------------------- */
.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 8px 14px 8px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px auto;
	overflow: hidden;
	width: 700px;
}
.nuka::after
.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
    font-size: 28px;
}

.course-preview {
	background-color: #eed94c;
	color: #fff;
	padding: 30px;
	max-width: 250px;
}

#C-Sharf{
	background-color: #651f78;
}
#FIGMA{
    background-color: #000000;
}
#HTML{
    background-color: #e94c17;
}
#CSS{
    background-color: #0077ba;
}
#SCSS{
    background-color: #db6fa3;
}
.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #eed94c;
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	height: 5px;
	width: 66%;
}
#CSharfProgress::after{
	background-color: #651f78;
}
#FIGMAProgress::after{
    background-color: #000000;
}
#HTMLProgress::after{
    background-color: #e94c17;
}
#CSSProgress::after{
    background-color: #0077ba;
}
#SCSSProgress::after{
    background-color: #db6fa3;
}
.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.btn {
	background-color: #eed94c!important;
	border: 0;
	border-radius: 50px!important;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff!important;
	font-size: 16px!important;
	padding: 12px 25px!important;
	bottom: 30px!important;
	right: 30px!important;
	letter-spacing: 1px!important;
}

.infCard{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #0000007d;
}

/* ------------------------------------------------------------footer-------------------------------------------------------------- */


.footer{
	background-color: rgb(0, 0, 0);
	
}


 footer {
	width: 100%;
	height: 50px;
	background-color: rgb(0, 0, 0);
  }
   footer .footer {
	width: 100%;
	height: 100%;
  }
   footer .footer h5 {
	width: 100%;
	height: 100%;
	color: white;
	margin: auto;
	font-size: 12px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  

/* -------------------------------------------------------------responcive-------------------------------------------------------- */

@media (max-width:1024px) {
	.navbar {
		position: fixed !important;
		bottom: 0;
		width: 100%;
		z-index: 100;
	}
	footer {
		margin-bottom: 56px;
	}
}


@media (max-width:755px) {
	.course {
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 8px 14px 8px rgba(0, 0, 0, 0.2);
		display: block;
		max-width: 100%;
		margin: 20px;
		width: 600px;
		overflow: hidden;
	}
}
@media (max-width:655px) {
	.course{
		width: 400px;
	}
	.course h2 {
		letter-spacing: 1px;
		margin: 10px 0px;
		font-size: 20px;
	}
}
@media (max-width:480px) {
	.course{
	     width: 200px;
	}
}



@media screen and  (max-width:655px) {
.forCenter .infCard {
width: 200px;
}
}



@media screen and  (max-width:820px) {
.filter {
	display: grid;
	grid-template-columns: 1fr;
	width: 200px;
	margin: auto;
}
}